@import "./variables.css";

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

section {
  width: 100%;
}

.container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

.highlight {
  color: var(--primary-color);
}

.gradient-text {
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}